{% extends "/home/max/spotlight/spotlightdb/template/main.html" %}

{% block pageheader %}Registration{% endblock %}


{% block main %}

{% if form.errors %}
<p style="color: red;">Either your passwords didn't match or that username is taken. Please try again.</p>
{% endif %}

<form method="post" action="/updateprof/">
<table>
  <tr><th>
  Username:
  </th><th>
  {{ username }}
  </th></tr>
{% for field in form %}
  <tr><th>
  {{field.errors}}
  {{field.label_tag}}:
  </th>
  <th>
  {{field}}
  </th></tr>
{% endfor %}
</table>
<input type="submit" name="Submit" value="Submit" />
</form>
<br/> <br/>
<table>
  <tr><th align='left'>
  API Key (keep this private!):
  </th></tr>
  <tr><th align='left'>
  {{ APIKey }}
  </th></tr>
</table>


{% endblock %}

{% block title %}{{username}}'s Profile{% endblock %}

